* {
  margin:0;
  padding:0;
  box-sizing: content-box;
}

.App {
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.boardWrapper {
  width: 88vh;
  height:88vh;
  border: 2vh solid #FFCA40;
  background-color: #9DBF8E;
  display:flex;
  justify-content: center;
  align-items: center;

}

.board {
  width:80vh;
  height:80vh;
  border:2vh solid #230A59;
  background-color: white;
  display:grid;
  grid-template-columns: repeat(8,1fr);
  align-content: space-around;
  position: relative;
  /* grid-template-rows: repeat(8,1fr); */
}

.chess {
  color:white;
}