* {
  margin:0;
  padding:0;
  box-sizing: content-box;
}


.App {
  width:100vw;
  height:100vh;
  display:grid;
  grid-template-columns: 1fr 7fr 4fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
}

.wallPaper {
  width:100vw;
  height:100vh;
  position: absolute;
  /* background-color: rgba(250,250,250,.5); */
  z-index: 10001;
  display:flex;
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restart {
  display:none;
}

.greenWins {
  display:none;
  margin-bottom:1em;
  font-size:4em;
  color: green;
  font-weight: bolder;
}

.blackWins {
  display:none;
  margin-bottom:1em;
  font-size:4em;
  color: black;
  font-weight: bolder;
}

button.wallBtn {
  font-size: 3vw;
  font-family: "eurostile", sans-serif;
  color:#D9D6A2;
  background-color: #401B2C;
  padding: 1vw;
  border-radius: 1rem;
}

button.wallBtn:hover {
  cursor: pointer;
}

button.wallBtn:focus {
  outline: none;
  background-color: #D9D6A2;
  color: #401B2C;
}


.boardWrapper {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 88vh;
  height:88vh;
  border: 2vh solid #FFCA40;
  background-color: #9DBF8E;
  display:flex;
  justify-content: center;
  align-items: center;

}

.board {
  width:80vh;
  height:80vh;
  border:2vh solid #230A59;
  background-color: white;
  display:grid;
  grid-template-columns: repeat(8,1fr);
  align-content: space-around;
  position: relative;
  /* grid-template-rows: repeat(8,1fr); */
}

/* .chess {
  color:white;
} */

.blackChess {
  background: radial-gradient(circle at 55% 15%, white 1px, rgb(13, 14, 13) 5%, black 60%, rgb(171, 172, 166) 100%);  
}

.greenChess {
  background: radial-gradient(circle at 55% 15%, white 1px, rgb(6, 71, 11) 5%, green 60%, #B5FFBB 100%);  
}

.isValidPath {
  background: url(./plus.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.selectedChess {
  box-shadow: 0px 0px 10px 5px gray;
}

.rule {
  border-radius: 1rem;
  background-color: #262626;
  border:3px dashed #F2DCC9;
  grid-column: 3/4;
  grid-row: 2/3;
  display:grid;
  /* grid-template-rows: 2fr 2fr 2fr 6fr 1fr; */
  /* grid-gap:1em; */
  padding-left:2em;
  padding-right:2em;
}

.rule h1 {
  /* grid-row: 1/2; */
  text-align: center;
  font-family: "eurostile", sans-serif;
  color:#f32f66;
  display:grid;
  align-content: center;
  font-size:3vw;

}

.rule div {
  /* grid-row:2/3; */
  display:grid;
  align-content: center;
  text-align: center;
}

div.gameRules{
  margin: 0 auto;
  /* grid-row: 3/4; */
  color: #F25C05;
  text-align: center;
  /* display: grid; */
  /* align-content: center; */
  /* background-color: bisque; */
}

.instruction {
  color:white;
  font-size:2vw;
}
.instruction span {
  display:block;
  margin-top:2vw;
  color: #0396A6;
}

.gameRules input {
  color:#943C19;
  font-weight: bolder;
  text-align: center;
  display:grid;
  align-content: center;
  font-size:1.2vw;
  padding:0.5rem;
  background-color: #F2DCC9;
  border-radius: 0.5rem;
}

.gameRules input:hover {
  cursor: pointer;
}

.gameRules input:focus {
  outline:none;
}

.rule ul {
  /* grid-row: 4/5; */
  list-style-type: none;
  display:none;
}

.rule ul li {
  margin-top: 1em;
  font-size:1.2vw;
  color:#F2DCC9;
}